// Workflow details
manifest {
    
  author = ' Ching-Yu Lu, Nandan Deshpande, Sydney Informatics Hub, University of Sydney'
  name = 'RNASeq-nf'
  description = 'GATK somatic short variant calling pipeline'
  homePage = 'https://github.com/Sydney-Informatics-Hub/RNASeq-nf'
    }

// Mandate a minimum version of nextflow required to run the pipeline
nextflowVersion     = '!>=20.07.1'

// Set default parameters
params {
  version                       = '1.0'
  help                          = false
  input                         = null
  ref                           = false
  outDir		                    = './results'
  dict                          = false
  gadi_account       	= false
  setonix_account     = false
  whoami            	= false
}


// Preset use of containers with Singularity
singularity {
    enabled		    = false
    autoMounts		= true
    }

// Job profiles
profiles {
  local		{ includeConfig "config/local.config" }
  gadi		{ includeConfig "config/gadi.config" }
  }

// Fail a task if any command returns non-zero exit code
shell = ['/bin/bash', '-euo', 'pipefail']

// Resources for each process
// default run resource parameters
process {
  
  cpus = 2
  memory = '4.GB'
  time = '2h'
  executor = 'local'


withName: 'checkInputs' {
	memory = '4.GB'
}

withName: 'runFastQC' {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
       
}

withName: 'runBbduk_trim' {
        container = 'quay.io/staphb/bbtools:38.76'
}

withName: 'runSTARAlign' {
    container = 'quay.io/biocontainers/star:2.7.11a--h0033a41_0'

}

withName: 'makeSTARIndex' {
    container = 'quay.io/biocontainers/star:2.7.11a--h0033a41_0'

}

withName: 'runSamtoolsMergeIndex' {
    executor = 'local'
    container = 'https://depot.galaxyproject.org/singularity/samtools:1.18--h50ea8bc_1'
        }


withName: 'getMappingMetricRSeQC' {

   container ='https://depot.galaxyproject.org/singularity/rseqc:5.0.3--py39hf95cd2a_0'

	  }


withName: 'runHtseqCount' {

    container ='https://depot.galaxyproject.org/singularity/htseq:2.0.3--py310ha14a713_0'

        }


withName: 'runsalmonAlign' {
    container = 'quay.io/biocontainers/salmon:1.10.2--hecfa306_0'
    
        }

///scratch/er01/npd561/singularity/new_containers_for_RNSeq-nf

// Check this on Nimbus
//https://github.com/dmccloskey/htseq-count/blob/master/Dockerfile
//singularity build htseq-count.sif dockerfile.def

}

// Define timestamp, to avoid overwriting existing trace
def timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

// Produce a workflow diagram
dag {
  enabled = true
  file = "${params.outDir}/runInfo/RNASeq_dag_${timestamp}.svg"
}

report {
  enabled = true
  file = "${params.outDir}/runInfo/RNASeq_report_${timestamp}.html"
}

timeline {
  enabled = true
	overwrite = true
	file = "${params.outDir}/runInfo/RNASeq_timeline_${timestamp}.html"
}

trace {
	enabled = true
	overwrite = true
  file = "${params.outDir}/runInfo/RNASeq_trace_${timestamp}.txt"
  fields = 'process,name,status,queue,realtime,cpus,%cpu,memory,%mem,rss,env'
}
