// profile for the Gadi supercomputer at NCI
// Before running will need to run: 
// module load nextflow singularity 

// Gadi specific parameters
// More info: https://opus.nci.org.au/display/DAE/Nextflow



params {
    pbs_account = ''
    whoami = ''
}

// Preset use of containers with Singularity
singularity {
    enabled = true
    cacheDir = "/scratch/${params.gadi_account}/${params.whoami}/singularity"
    autoMounts = true
    autoCleanUp = true
    temp = "scratch/${params.gadi_account}/${params.whoami}/containers"
}

pprocess {
    module = 'singularity'
    cache = 'lenient'
    stageInMode = 'symlink'
    project = "${params.gadi_account}"
    storage = "scratch/${params.gadi_account}+gdata/${params.gadi_account}"
    executor = 'local'
    queue = 'normal'
    cpus = 2
    time = '2h'
    memory = '4.GB'
    
    withName: 'processOne' {
        cpus = 1
        time = '1h'
        memory = '1GB'
}
    withName: 'processTwo' {
        cpus = 1
        time = '1h'
        memory = '1GB'
}}
